$colors: (
  plain: (
    bg: #ffffff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action-primary: #1e1d25,
    action-secondary: #1e1d25,
    action-primary-text: #ffffff,
    action-secondary-text: #1d2520,
    action-primary-hover: #3f3d4d,
    action-primary-active: #5b5777,
    action-secondary-hover: #3f3d4c1a,
    action-secondary-active: #3f3d4c4d,
    input-bg: #eeeef1,
    bg-secondary: #f4f4f6,
  ),
  tint: (
    bg: #ffe9ea,
    text: #4f0b15,
    text-secondary: #9c5557,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action-primary: #440000,
    action-secondary: #440000,
    action-primary-text: #fdfdfd,
    action-secondary-text: #440000,
    action-primary-hover: #440000,
    action-primary-active: #440000,
    action-secondary-hover: #4400001a,
    action-secondary-active: #4400004d,
    input-bg: #f5cdce,
    bg-secondary: #ffdcdd,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);
